entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

# In .replit
[deployment]
# Add --log-level debug
run = "gunicorn main:app --bind 0.0.0.0:$PORT --log-level debug"
deploymentTarget = "cloudrun"


[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 43497
externalPort = 3002
