<ul class="navbar-nav ms-auto">
  {# --- Standard Links --- #}
  <li class="nav-item"><a class="nav-link {% if request.endpoint=='index' %}active{% endif %}" href="{{ url_for('index') }}"><i class="fas fa-home me-1"></i> Dashboard</a></li>
  <li class="nav-item"><a class="nav-link {% if request.endpoint=='messages_view' %}active{% endif %}" href="{{ url_for('messages_view') }}"><i class="fas fa-envelope me-1"></i> Messages</a></li>
  <li class="nav-item"><a class="nav-link {% if request.endpoint=='contacts_view' %}active{% endif %}" href="{{ url_for('contacts_view') }}"><i class="fas fa-address-book me-1"></i> Contacts</a></li>
  {# --- ADDED Notifications Link --- #}
  <li class="nav-item"><a class="nav-link {% if request.endpoint=='notifications_view' %}active{% endif %}" href="{{ url_for('notifications_view') }}"><i class="fas fa-bell me-1"></i> Notifications</a></li>
  {# --- ADDED Properties Link --- #}
  <li class="nav-item"><a class="nav-link {% if request.endpoint in ['properties_list_view', 'property_detail_view'] %}active{% endif %}" href="{{ url_for('properties_list_view') }}"><i class="fas fa-building me-1"></i> Properties</a></li>
  {# --- Corrected Galleries Link - points to overview --- #}
  <li class="nav-item"><a class="nav-link {% if request.endpoint in ['galleries_overview', 'gallery_for_property', 'unsorted_gallery'] %}active{% endif %}" href="{{ url_for('galleries_overview') }}"><i class="fas fa-images me-1"></i> Galleries</a></li>
  <li class="nav-item"><a class="nav-link {% if request.endpoint=='ask_view' %}active{% endif %}" href="{{ url_for('ask_view') }}"><i class="fas fa-robot me-1"></i> Ask AI</a></li>
  {# --- Removed/Commented Out Non-Functional Links --- #}
  {# <li class="nav-item"><a class="nav-link {% if request.endpoint=='gallery_view' %}active{% endif %}" href="{{ url_for('gallery_view') }}"><i class="fas fa-photo-video"></i> Gallery</a></li> #}
  {# <li class="nav-item"><a class="nav-link {% if request.endpoint=='unsorted_gallery' %}active{% endif %}" href="{{ url_for('unsorted_gallery') }}"><i class="fas fa-random"></i> Unsorted</a></li> #}
</ul>